.navbar {
      position: fixed;
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      right: 0;
      left: 0;
      top: 0;
  }
.navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
body {
      font: 20px 'Concert One', cursive;
      line-height: 1.8;
      color: #f5f6f7;
  }