.navbar {
      position: fixed;
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      right: 0;
      left: 0;
      top: 0;

      background-color: rgba(248,248,255,0.9);
      font-family: 'Hind Guntur', sans-serif;
  }
.navbar-nav  li a:hover {
      color: black !important;
  }
#name{
  font-family: 'Shadows Into Light', cursive;
  color: black;
  font-weight: bold;
}
.navbar-brand {
  padding: 0px;
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
  padding: 7px 14px;
}
body {
      font-family: 'Roboto Condensed', sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
      background-color: rgb(72,209,204);
      text-align: center;
      padding-top: 100px;
        letter-spacing: 2px;

  }

h2{
  font-family: 'Shadows Into Light', cursive;
  color: white;
  font-size: 70px;
  text-align: center;
}
#meet{

  color: white;
  font-size: 50px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 5px;

}


.margin {
      margin-bottom: 45px;
  }

h3{
  font-family: 'Crimson Text', serif;
  color: white;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
}
h1{
  font-family: 'Crimson Text', serif;
  color: white;
  text-align: center;
}
p.test{
  word-wrap: break-word;
}


h4{
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
  color: white;
  text-align: center; 
  font-size: 40px;
  padding-top: 20px;
}
footer { 
    background-color: rgba(0,0,0,0.9);
    max-height: 100%;
    text-decoration: none;
    text-align: center;

  }
footer a:link, a:visited {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: yellow;
}

footer a:active {
    text-decoration: none;
    color: white;
}

container-fluid{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10px;
}

#bottom{
  padding-top: 25px;
  padding-bottom: 10px;
}
h3{
  text-align: left;
  padding-right: 100px;
  padding-left: 100px;
}

hr {
  border: dashed;
  height: 5px;
}
  #link1,#link2,#link3,#link4{
    visibility: hidden;
  }
p{
  font-size: 25px;
  text-align: center;
  letter-spacing: 2px;
    font-family: 'Roboto Condensed', sans-serif;
   padding-right: 100px;
      padding-left: 100px;

}
#e{
  padding-bottom: 100px;
}
#nolink:hover{
  color: white;
}

#nolink{
  color: white;
  text-decoration: none;
}

.text{
  padding-bottom: 20px;
}
#contact{
  padding-bottom: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
}

a:link, a:active, a:visited{
  color: blue;
}

a:hover, #su:hover, #ka:hover, #el:hover{
  text-decoration: none;
  color: yellow;
}

a, #su, #ka, #el{
  color: blue;
}






