.navbar {
      position: fixed;
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      right: 0;
      left: 0;
      top: 0;

      background-color: rgba(248,248,255,0.9);
      font-family: 'Hind Guntur', sans-serif;
  }
.navbar-nav  li a:hover {
      color: black !important;
  }
#name{
  font-family: 'Shadows Into Light', cursive;
  color: black;
  font-weight: bold;
}
.navbar-brand {
  padding: 0px;
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
  padding: 7px 14px;
}

body {
      line-height: 1.8;
      color: #f5f6f7;
      text-align: center;
      font-family: 'Roboto Condensed', sans-serif;
      
  }
h2{
  font-size: 100px;
  color: white;
  font-family: 'Shadows Into Light', cursive;
}
.button {
  display: inline-block;
  border-radius: 0px;
  background-color: rgba(192,192,192,0);
  border: double;
  border-color: white;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 270px;
  height: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
}
.button-main {
      padding-top: 55px;
      padding-bottom: 130px;
  }
#smallbutton{
  font-size: 15px;
  display: inline-block;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.margin {
      margin-bottom: 45px;
  }

footer { 
    background-color: rgba(0,0,0,0.9);
    max-height: 100%;
    text-decoration: none;
  }
footer a:link, a:visited {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: yellow;
}

footer a:active {
    text-decoration: none;
    color: white;
}

.bg-1{
  padding-top: 150px;
  padding-bottom: 100px;
  background-image: url("https://i.imgsafe.org/2082672c4a.jpg");
}

#bottom{
  padding-top: 25px;
  padding-bottom: 10px;
}

h6{
  font-family: 'Shadows Into Light', cursive;
  font-size: 40px;
  padding-top: 20px;
  letter-spacing: 3px;
}

.bg-2{
  background-color: white;
  padding-top: 50px;
  padding-bottom: 100px;
}
h3{
  font-family: 'Hind Guntur', sans-serif;
  letter-spacing: 5px;
}
  #link1{
    visibility: hidden;
  }
#miss{
  background-color: rgba(32,178,170,0.95);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
#missText{
  letter-spacing: 2px;
}
