body{
	background-image: url(blue.png)
}

#Sub{
	font-size: 70px;
	color: white;
}

.cn-container{
	width: 60%;
	min-width: 300px;
	max-width: 820px;
	margin: 10px auto 0 auto;
	text-align: left;
	position: relative;
}
.cn-container h2{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	color: black;
	position: absolute;
	z-index: 10000;
	text-shadow: 0 0 1px rgba(255,255,255,0.8), 1px 1px 1px rgba(0,0,0,0.2);
	font-size: 80px;
	line-height: 80px;
	text-align: center;
	white-space: nowrap;
	opacity: 0;
	-webkit-transition: all 0.5s linear 0.7s;
	-moz-transition: all 0.5s linear 0.7s;
	-o-transition: all 0.5s linear 0.7s;
	-ms-transition: all 0.5s linear 0.7s;
	transition: all 0.5s linear 0.7s;
	text-align: center;
}
.cn-container .cn-slide:target h2{
	top: 0px;
	opacity: 1;
}
.cn-slide{
	text-align: center;
	position: absolute;
	left: 0px;
	padding-top: 80px;
	margin: 0 5%;
	width: 90%;
	opacity: 0;
}
.cn-slide:target{
	opacity: 1;
	z-index: 1000;
}
.cn-slide nav a{
	text-align: left;
	display: block;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	border: 8px solid #fff;
	padding: 2%;
	font-size: 66px;
	letter-spacing: 7px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	color: white;
	line-height: 66px;
	outline: none;
	margin: 0 0 10px 0;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	background: #fff url() no-repeat center center;
	-webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; 
	background-clip: padding-box;
	opacity: 0;
	-webkit-transition: opacity 0.4s linear, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
	-moz-transition: opacity 0.4s linear, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
	-o-transition: opacity 0.4s linear, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
	-ms-transition: opacity 0.4s linear, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
	transition: opacity 0.4s linear, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.cn-slide nav a:hover{
	border-color:lightblue;
	color: lightblue;
}
.cn-slide:target nav a{
	opacity: 1;
}
.cn-slide nav a:nth-child(2){
	-webkit-transition-delay: 0.3s, 0s, 0s;
	-moz-transition-delay: 0.3s, 0s, 0s;
	-o-transition-delay: 0.3s, 0s, 0s;
	-ms-transition-delay: 0.3s, 0s, 0s;
	transition-delay: 0.3s, 0s, 0s;
}
.cn-slide nav a:nth-child(3){
	-webkit-transition-delay: 0.6s, 0s, 0s;
	-moz-transition-delay: 0.6s, 0s, 0s;
	-o-transition-delay: 0.6s, 0s, 0s;
	-ms-transition-delay: 0.6s, 0s, 0s;
	transition-delay: 0.6s, 0s, 0s;
}
.cn-slide nav a:nth-child(4){
	-webkit-transition-delay: 0.9s, 0s, 0s;
	-moz-transition-delay: 0.9s, 0s, 0s;
	-o-transition-delay: 0.9s, 0s, 0s;
	-ms-transition-delay: 0.9s, 0s, 0s;
	transition-delay: 0.9s, 0s, 0s;
}
.cn-slide-sub nav a{
	width: 42%;
	display: inline-block;
	font-size: 40px;
}
.cn-slide-sub nav a:nth-child(odd){
	margin-right: 5px;
}

.cn-content{
	background: #80B8CE url(../images/1.jpg) no-repeat center center;
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; 
	text-align: left;
	padding: 20px 20px 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	border: 8px solid #fff;
	margin-top: 5px;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: all 0.9s linear;
	-moz-transition: all 0.9s linear;
	-o-transition: all 0.9s linear;
	-ms-transition: all 0.9s linear;
	transition: all 0.9s linear;
}
.cn-slide:target .cn-content{
	opacity: 1;
}
.cn-content:active p{
	opacity: 0;
}
.cn-content p{
	line-height: 24px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
	color: rgba(103,59,77,0.9);
	padding: 15px 20px;
	margin-bottom: 10px;
	background: rgba(255,255,255,0.96);
	font-style: italic;
	border-top: 7px solid rgba(103,59,77,0.6);
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.cn-back{
	outline: none;
	text-indent: -9000px;
	width: 49px;
	height: 42px;
	background: transparent url() no-repeat center center;
	position: absolute;
	top: 22px;
	left: -100px;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 1s;
	-moz-transition: all 0.4s ease-in-out 1s;
	-o-transition: all 0.4s ease-in-out 1s;
	-ms-transition: all 0.4s ease-in-out 1s;
	transition: all 0.4s ease-in-out 1s;
}
.cn-slide:target .cn-back{
	left: 3px;
	opacity: 1;
}
.cn-note{
	text-align: right;
	font-size: 10px;
	font-style: normal;
	text-align: right;
	padding: 10px;
	display: block;
	font-family: Arial;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
/* Main Items */
.cn-slide nav a[href="#slide-1"]{
	background-image: url(../images/sci2.png);
	text-align: center;
}
.cn-slide nav a[href="#slide-2"]{
	background-image: url(tech4.jpg);
	text-align: center;
}
.cn-slide nav a[href="#slide-3"]{
	background-image: url(eng2.jpg);
	text-align: center;
}
.cn-slide nav a[href="#slide-4"]{
	background-image: url(math.jpg);
	text-align: center;
}


/* Items and sub-items of slide 1*/
.cn-slide nav a[href="#slide-1-1"],
#slide-1-1 .cn-content {
	background-image: url(chem.jpe);
}
.cn-slide nav a[href="#slide-1-2"],
#slide-1-2 .cn-content {
	background-image: url(bio.gif);
}
.cn-slide nav a[href="#slide-1-3"],
#slide-1-3 .cn-content {
	background-image: url(phy.jpg);
}
.cn-slide nav a[href="#slide-1-4"],
#slide-1-4 .cn-content {
	background-image: url(env.jpg);
}

/* Items and sub-items of slide 2*/
.cn-slide nav a[href="#slide-2-1"],
#slide-2-1 .cn-content {
	background-image: url(tech3.png);
}
.cn-slide nav a[href="#slide-2-2"],
#slide-2-2 .cn-content {
	background-image: url(hard.jpe);
}
.cn-slide nav a[href="#slide-2-3"],
#slide-2-3 .cn-content {
	background-image: url(rob.png);
}
.cn-slide nav a[href="#slide-2-4"],
#slide-2-4 .cn-content {
	background-image: url(dev1.jpg);
}

/* Items and sub-items of slide 3*/
.cn-slide nav a[href="#slide-3-1"],
#slide-3-1 .cn-content {
	background-image: url(../images/12.jpg);
}
.cn-slide nav a[href="#slide-3-2"],
#slide-3-2 .cn-content {
	background-image: url(../images/13.jpg);
}
.cn-slide nav a[href="#slide-3-3"],
#slide-3-3 .cn-content {
	background-image: url(../images/14.jpg);
}
.cn-slide nav a[href="#slide-3-4"],
#slide-3-4 .cn-content {
	background-image: url(../images/15.jpg);
}
@media screen and (max-width: 1060px){
	.cn-slide-sub nav a{
		font-size: 28px;
	}
}
@media screen and (max-width: 900px){
	.cn-container h2{
		font-size: 48px;
		line-height: 95px;
	}
	.cn-slide nav a{
		font-size: 38px;
	}
	.cn-slide-sub nav a{
		width: auto;
		font-size: 36px;
		display: block;
	}
	.cn-slide-sub nav a:nth-child(odd){
		margin-right: 0px;
	}


}