
body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(176,224,230);
  color: white;
  text-align: center;
  letter-spacing: 2px;
}
.bg-2{
  background-color: rgba(255,215,0, 0.9);
  padding-top: 230px;
}
.clearfix:before, .clearfix:after { 
  content: ""; 
  display: table; 
}
.clearfix:after { 
  clear: both; 
}
body a {
  color: rgb(119,136,153); 
  text-decoration:none;
}

.form{
  width: 400px; 
  margin: 0 auto;
}
input[type='text'], input[type='email'], input[type='password'] {
  width: 400px; 
  border-radius: 2px;border: 1px solid #CCC; 
  padding: 10px; color: #333; 
  font-size: 14px; 
  margin-top: 10px;
  font-family:Arial, Sans-Serif;
}
input[type='submit']{
  padding: 10px 25px 8px; 
  color: #fff; 
  background-color: rgb(0,178,200); 
  text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
  font-size: 16px;  
  border: 0px; 
  border-radius: 4px; 
  margin-top: 10px; 
  cursor:pointer;
  font-family: 'Roboto Condensed', sans-serif;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 10px;
}
input[type='submit']:hover {
  background-color: rgb(47,79,79);
}
h3{
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  text-align: center;
}
h1{
  font-family: 'Shadows Into Light', cursive;
  color: white;
  font-size: 50px;
  text-align: center;
  float: center;
  display: inline;
  height: auto;
width: 30%;

}
#lightbulb{

  height: 20%;
  width: 80px;
display: inline-block;
float: center;
}
#container{
    padding-top: 120px;
  overflow:hidden;
position:relative;
width:90%;
margin-bottom:20px;
margin-top:20px;
margin-left:auto;

margin-right:auto;
}
.navbar {
      position: fixed;
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      right: 0;
      left: 0;
      top: 0;

      background-color: rgba(248,248,255,0.9);
      font-family: 'Hind Guntur', sans-serif;
  }
.navbar-nav  li a:hover {
      color: black !important;
  }
#name{
  font-family: 'Shadows Into Light', cursive;
  color: black;
  font-weight: bold;
}
.navbar-brand {
  padding: 0px;
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
  padding: 7px 14px;
}
#needpadding{
  padding-top: 10px;
  font-size: 21px;
}
footer { 
    background-color: rgba(0,0,0,0.9);
    max-height: 100%;
    text-decoration: none;
    text-align: center;

  }
footer a:link, a:visited {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: yellow;
}

footer a:active {
    text-decoration: none;
    color: white;
}

container-fluid{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10px;
}

#bottom{
  padding-top: 25px;
  padding-bottom: 10px;
}
#footerSep{
  padding-bottom: 50px;
  padding-top: 10px;
  font-size: 21px;
  letter-spacing: 2px;
  text-decoration: none;
}

.embedded-chat {
    margin: 0 auto; 
}
.bg-1{
  background-image: url(https://i.imgsafe.org/606d8777d4.jpg);
  padding-top: 200px;
}
.bg-3{
  background-color: rgb(245,222,179);
  padding-top: 200px;
}

#nolink a:hover{
  color: white !important;
}

a:link, a:visited, a:active{
  color: yellow;
  text-decoration: none;
}
a:hover{
  color: rgb(240,230,140);
  text-decoration: none !important;
}

